{% extends "!layout.html" %}

{% block extrahead %}
    <meta name="msvalidate.01" content="4C170AB63B370E30D70955199A9A7B67" />
    <meta name="google-site-verification" content="yIimRRNvbOiOrWRj8tgN-8fp39YM636FvhdQqCcfgbY" />
    <meta name="description" content="Easily activate your MyLowe’s Card at lowes.syf.com/activate. Access exclusive offers, manage your account, and earn MyLowe’s Rewards™ with every purchase." />
    <meta name="keywords" content="lowes.syf.com/activate, MyLowe’s Card activation, activate Lowe’s credit card, MyLowe’s Rewards™, Lowe’s card login, manage Lowe’s account, Lowe’s credit card benefits" />
    <meta name="robots" content="index, follow" />
    <meta name="author" content="Lowe’s" />
    <meta property="og:title" content="Activate Your MyLowe’s Card Online | Visit lowes.syf.com/activate" />
    <meta property="og:description" content="Follow our quick and easy guide to activate your MyLowe’s Card online and start earning MyLowe’s Rewards™ today." />
    <meta property="og:url" content="https://lowes.syf.com/activate" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Lowe’s" />
    <title>Activate Your MyLowe’s Card Online | Visit lowes.syf.com/activate</title>
    {{ super() }}
{% endblock %}
